.forgot-password {
     background-image: linear-gradient(0deg, aliceblue 0%, gray 100%);
}

.eye {
     right: 0;
     cursor: pointer;
}
.forgot-password label, .forgot-password button {
     font-family: 'Roboto', sans-serif;
     font-weight: bold;
}

.forgot-password h2 {
     font-family: 'Rubik Wet Paint', cursive;
}

.forgot-password input {
     background-color: aliceblue;
     font-family: 'Roboto', sans-serif;
     letter-spacing: 1px;
}

.forgot-password button:hover {
     background-color: var(--text-pink);
     border: none;
}

.forgot-password input:focus {
     background-color: aliceblue;
     font-weight: bold;
     border: none !important;
}

.forgot-password a {
     text-decoration: none;
}

.forgot-password a:hover {
     color: var(--text-pink) !important;
}





