.login {
     background-image: linear-gradient(0deg, aliceblue 0%, gray 100%);
}

.eye {
     right: 0;
     cursor: pointer;
}
.login label, .login button {
     font-family: 'Roboto', sans-serif;
     font-weight: bold;
}

.login button:hover {
     background-color: var(--text-pink) !important;
     border: none;
}

.login h2 {
     font-family: 'Rubik Wet Paint', cursive;
}

.login input {
     background-color: aliceblue;
     font-family: 'Roboto', sans-serif;
}

.login a {
     text-decoration: none; 
}

.login a:hover {
     text-decoration: none; 
     color: var(--text-pink) !important;
}





